
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 60px;
}

.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
}

.head::after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 25%;
  height: 5px; 
  background-color: #fa621a;
  border-radius: 3px;
}

/* .heading {
  font-size: 32px;
  font-weight: 600;
}

.orange {
  color: #fa621a;
} */


.heading {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline; /* or no need if using <p> */
}




.orange {
  color: #fa621a;
}

/* fixed 6x2 grid for 12 items */
.list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  justify-items: center;
  width: 80%;
  max-width: 1200px;
  margin-top: 25px;
}

.item {
  width: 135px;
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(6, 4, 6, 0.1) 0px 4px 8px;
  border: 1px solid white;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.item:hover {
  border-color: #fa621a;
}

.imageCont {
  background-color: #f6f6f6;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.image {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.bottom {
  padding: 12px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  word-break: break-word;
}
.mobileEllipsis {
  display: none;
  row-gap: 2px;
 
}

/* Responsive breakpoints */
@media screen and (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .mobileEllipsis {
  display: none;
  /* margin-top: 8px; */
  /* font-size: 20px; */
}

  .item {
    width: 115px;
  }

  .imageCont {
    height: 90px;
  }

  .imageCont {
    width: auto;
  }

  .image {
    height: 50px;
  }

  .bottom {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 24px;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .item {
    width: 100px;
  }

  .imageCont {
    height: 80px;
  }

  .image {
    height: 45px;
  }

  .bottom {
    font-size: 11px;
  }
}

@media screen and (max-width: 500px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .item {
    width: 130px;
  }
.cont{
/* padding: 0 4rem; */
  padding-top: 40px;

}
  .imageCont {
    height: 100px;
  }

  .image {
    height: 60px;
    width: auto;
  }

  .bottom {
    font-size: 10px;
  }
}

@media screen and (max-width: 370px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .item {
    width: 120px;
  }
.cont{
  padding-top: 40px;

}
  .imageCont {
    height: 100px;
  }

  .image {
    height: 60px;
    width: auto;
  }

  .bottom {
    font-size: 10px;
  }
}
@media screen and (max-width: 700px) {
  .head::after {
    display: none;
  }
  .mobileEllipsis {
    display: block;
    margin-bottom: 0%;
  }
  .heading{
    margin-bottom: 0%;
  }
  .head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
  position: relative;
}
}

/* ----- FADE-IN/OUT ANIMATION ------ */
.animateOnce {
  animation: fadeInStay 1.5s ease-in-out forwards;
}

@keyframes fadeInStay {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 500px) {
  .list {
    grid-template-columns: repeat(4, 1fr); 
    gap: 8px;
    width: 100%;
  }

  .item {
    width: 100%;
  }

  .imageCont {
    height: 70px;
  }

  .image {
    height: 35px;
  }

  .bottom {
    font-size: 9px;
    padding: 6px;
  }
}
@media screen and (max-width: 500px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 5px;   
  }

  .item {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px;   
    gap: 10px;
  }
}
