.carousel {
  position: relative;
  width: 100%;
  /* padding: 40px 0px; */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
  background-color: white;
  height: 260px;
  overflow: hidden; 
}

.item {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.nav {
  position: absolute;
  top: 53%;
  transform: translateY(-150%);
  background: rgba(187, 187, 187, 0.153);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 10px;
  border-radius: 60%;
  cursor: pointer;
  z-index: 1;
}

.left {
  left: 25px;
}

.right {
  right: 25px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.active {
  background-color: white;
}
